JDK 17 : springboot 2.7
JDK 19 : springboot 3.2
JDK 21 : springboot 3.4

작업시 JAVA_HOME의 작업할 JDK 폴더만 지정

인텔리제이 2024.3.1(제작년도.분기.수정)
2022 springboot 2.7
2023 springboot 3.0~3.2
2024 springboot 3.4

스프링부트 환경설정은 공식사이트에 만들어서 사용
start.spring.io

[JAVA로 웹개발할 수 있는 환경]
1. JSP - 파일하나에 html+Java+Database 모두 작성
2. Spring(설정 복잡하다.) - MVC(Model View Control)
            데이터베이스(mybatis)+처리  html  Controller(제어권)
3. SpringBoot(속도 향상, 불필요한 프로그램 제거) - MVC2
               HTML Controller Service Repository - 정류장
                   DTO       DTO     Entity        - 버스(데이터 전달)

[개발순서]
1. 요구분석(업무, 유사사이트 장단점)
2. 유스케이스(테이블이름으로 테이블간의 관계)
3. ERD(테이블 설계, 필드나 제약조건)
4. 데이터베이스 구축(MariaDB, MySQL, OracleDB, H2, NoSQL)
                     개발완료 후 배포          개발시
5. 프로토타입(화면에 배치될 요소 등을 구성)
6. 상세페이지(완성된 결과물 및 구동사항, 변수연결)
7. 주제에 맞는 템플릿(Bootstrap5)
8. 공통 요소(색상, 크기 표준화)
9. 공통 페이지
<--------------------기획발표-------------->
10. API 설계(request, response)
11. 이름규칙(변수명, 함수명, 클래스명)
12. 프린트물로 모든 팀원이 자료 공유(계획표, 업무분장)
   팀장-팀이 프로젝트를 진행할 수 있도록 관리/감독
   데이터베이스 담당자 : 데이터베이스 관리/감독-팀원들이 자기 테이블 생성/관리
   디자인 담당자 : HTML 관리/감독
   백 담당자 : java(필요한 자료 수집 및 예시 제공)-오류수정
   행정 담당자 : PPT, 회의록, 발표, 개발에 필요한 모든 작업 준비/제공
13. 프린트물에 내용을 가지고 작업
14. 아침에 팀회의 진행(작업진도확인, 오늘 업무량)-회의록
    오후
15. 중간발표(진행상태, 프로젝트 개발시 어려움전, 필요한 기술적 정보)

16. 최종발표(제본용 PPT, 발표용 PPT)-프린터물

#Bootstrap
구글에서 표준 CSS 제공
CSS(색상, 글꼴, 위치, 크기-모양)+JavaScript(애니메이션, 효과-동작)
#아이디 ; 한페이지에 한번만 사용가능(단일 사용) ==>id="아이디명"
.클래스 ; 한페이지에 여러번 사용가능(복수 사용) ==>class="클래스명 클래스명 클래스명..."

JavaScript-DOM(문서를 제어하는 라이브러리), BOM(브라우저를 제어하는 라이브러리)
   |- jQuery(JavaScript 간소화, 편의성)
   |- aJax(JavaScript로 비동기식 전송)-JSON(데이터)
   |- vue.js, react.js, node.js (JavaScript로 만든 서버)






